.article-body {
  height: 250px;
  width: 300px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-right: 30px;
}

.article-description {
  overflow: hidden;
  font-size: 0.75rem;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.control-button {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}
