.bracket-container {
  position: relative;
  width: 100%;
  /* background-color: #202020; */
  background: linear-gradient(270deg, #d2ccc4, #2f4353);
  padding: 70px 30px 130px 30px;
  display: flex;
  max-height: 3450px;
  overflow-y: hidden;
}
.bracket-round-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* min-height: fit-content; */
}
.bracket-round-one,
.bracket-round-two,
.bracket-round-three,
.bracket-round-four,
.bracket-round-five,
.bracket-round-six,
.bracket-round-seven {
  width: 170px;
  height: 60px;
  margin: 20px 0;
}
.bracket-round-two {
  height: 110px;
  margin: 45px 0 45px -10px;
}
.bracket-round-three {
  height: 210px;
  margin: 95px 0 95px -10px;
}
.bracket-round-four {
  height: 410px;
  margin: 195px 0 195px -10px;
}
.bracket-round-five {
  height: 810px;
  margin: 395px 0 395px -10px;
}
.bracket-round-six {
  height: 1610px;
  margin: 795px 0 795px -10px;
}
.bracket-round-seven {
  height: 20px;
  margin: 1595px 0 1595px -10px;
}

.players-container {
  position: absolute;
  z-index: 1;
  display: flex;
  max-height: 3400px;
}
.players-round-container {
  color: whitesmoke;
}
.players-round-one,
.players-round-two,
.players-round-three,
.players-round-four,
.players-round-five,
.players-round-six,
.players-round-seven {
  position: relative;
  height: 50px;
  width: 100px;
  margin-left: 30px;
}
.players-round-two {
  margin: 25px 0 50px 62px;
}
.players-round-three {
  margin: 75px 0 150px 60px;
}
.players-round-four {
  margin: 175px 0 350px 60px;
}
.players-round-five {
  margin: 375px 0 750px 60px;
}
.players-round-six {
  margin: 775px 0 1550px 60px;
}
.players-round-seven {
  margin: 1580px 0 0 60px;
}
.player-img-container {
  position: absolute;
  z-index: 1;
  height: 55px;
  width: 55px;
  margin: -3px 0 0 -55px;
  background-color: black;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
}
.player-img {
  margin: 0 auto;
  height: 50px;
}

.home-button {
  height: 50px;
  width: 85px;
  background-color: red;
  color: white;
  font-size: 1.2rem;
  position: fixed;
  z-index: 15;
}

.home-icon {
  height: 20px;
  width: 20px;
  margin-right: 5px;
  padding-bottom: 2.7px;
}

.setup-button {
  z-index: 10;
  position: fixed;
  width: 140px;
  top: 10px;
  right: calc(50vw - 70px);
  font-weight: bold;
}

.setup-dropdown {
  background: rgba(0, 0, 0, 0.9);
  backdrop-filter: blur(3px);
  border: 2px solid whitesmoke;
  transition: 0.5s;
}
.setupClosed {
  height: 0;
  width: 120px;
  z-index: 9;
  position: fixed;
  top: 37px;
  right: calc(50vw - 60px);
  margin-top: -5px;
  overflow: hidden;
}
.setupOpen {
  height: 600px;
  width: 400px;
  z-index: 9;
  position: fixed;
  top: 40px;
  right: calc(50vw - 200px);
  overflow: scroll;
  color: whitesmoke;
}

.add-player {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
}

.player-list {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}
